/* articleStyles.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.article-content {
  font-family: 'Space Mono', monospace;
}

.article-content img {
  max-width: 100%; /* Ensures image fits the container */
  max-height: 600px;
  border-radius: 12px; /* Add border-radius */
}
