/* src/app/components/ArticlesCardsGrid/ArticlesCardsGrid.module.css */

.card {
    transition: transform 150ms ease, box-shadow 150ms ease;
    text-decoration: none; /* Remove underline from the entire card link */
  
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--mantine-shadow-md);
    }
  }
  
  .title {
    font-family: 'Greycliff CF', var(--mantine-font-family);
    font-weight: bold;
    color: var(--mantine-color-dark-9); /* Adjust color as needed */
  }
  