.line {
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 1s ease-out;
  }
  
  .animate-line {
    width: 200px; /* The final width of the lines */
    transition-delay: 0.5s;
  }
  